.container {
  max-width: 1120px;
  padding: 0 2rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.mainContent strong {
  color: var(--text-100);
}

.home {
  min-height: 625px;
  max-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  > img {
    position: absolute;
    z-index: -9;
    width: 100%;
    height: 100%;
  }
  
  section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;

    img {
      max-width: 400px;
      width: 30%;
    }
  }
}

.homeContent {
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2, p, div {
    text-align: center;
    margin-bottom: 1rem;
  }

  p, div {
    color: var(--text-200);
  }

  p {
    line-height: 1.5rem;
    padding: 0 1rem;
  }

  span {
    color: var(--purple-500);
  }

  div {
    padding: 0.7rem 1rem;
    border: 1px solid var(--purple-500);
    border-radius: 2rem;
  }

  button {
    padding: 1rem 2rem;
    background: var(--purple-gradient);
    border: none;
    border-radius: 0.25rem;

    font-weight: bold;
    font-size: 14px;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.85);
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--divider);
}

@media (max-width: 1080px) {
  .home {
    section {
      margin-top: 3rem;
      flex-direction: column-reverse;

      img:first-child {
        display: none;
      }
    }
  }

  .homeContent {
    max-width: 720px;

    h2 {
      padding: 0 5rem;
    }
  }
}

.launchBase {
  text-align: center;

  h2, p {
    margin-bottom: 1.5rem;
    padding: 0 2rem;
  }

  p {
    color: var(--text-200);
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div:nth-child(2) {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: calc(100% - 800px);
  }

  img {
    margin-top: -8rem;
    z-index: -9;
  }
}

.selectAstronaut {
  background: url("/images/circles-shape.svg") no-repeat bottom;
  padding: 4rem 2rem;

  > div:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    div {
      margin-right: 4rem;
    }

    div:last-child {
      display: flex;
      justify-content: center;
    }
  }

  > div:last-child {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 2rem) / 2));
    column-gap: 2rem;
    row-gap: 1rem;
  }

  h2 {
    margin: 3rem 0 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--text-200);
  }

  p + p {
    margin-top: 1rem;
  }
}

@media (max-width: 1024px) {
  .selectAstronaut {
    > div:first-child {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      div:first-child {
        margin-top: -3rem;
        margin-bottom: 2rem;
      }

      div {
        margin-right: 0;
      }
      
      h2, p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 800px) {
  .highlights img {
    display: none;
  }
}

@media (max-width: 768px) {
  .selectAstronaut {
    > div:first-child img {
      width: calc(100% - 4rem);
    }

    > div:last-child {
      grid-template-columns: 100%;
    }
  }
}

.lookingSpace {
  padding: 4rem 2rem;

  > div {
    text-align: center;

    > img {
      min-width: 300px;
      padding: 0 2rem;
      max-width: 900px;
      width: 100%;
    }

    div {
      margin-top: -4rem;

      > img {
        width: 250px;
      }

      section {
        margin-top: -7rem;

        h2 {
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 1.125rem;
          line-height: 2rem;
          color: var(--text-200);
        }
      }
    }
    
  }

  > section {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
  }
}

.buildingRocket {
  padding: 4rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    color: var(--text-200);

    a {
      color: var(--purple-500);
      text-decoration: underline;
    }
  }
}

@media (max-width: 840px) {
  .buildingRocket {
    flex-direction: column;
    text-align: center;

    img {
      width: 300px;
      padding: 0 2rem;
    }
  }
}